{% extends 'base.html' %}
{% block content %}

<div class="about-main">
    <h1>About Us</h1>
    <hr>
    <p>RR Electricals an Electrical shop started in very humble and simple way. It was very small shop of 280sq. ft. on the main Road of rajeswarapuram.
        Started during 14th april 1991, by our great founder Sri.R.Praveen, who is a born and bought up person of Rajeswarapuram.</p>
    <p>He started his electrical career during 1980's at the age of 15 years. He was working as a eletrision of very small electrical group in khammam,
        he and his team members along with their proprietors, he travelled extensively throughout telangana starting from khammam to hyderabad and touch all parts of telangana.</p>
    <p>During those times in our village there is no electrical shop.90% of the products coming from nelakondapalli and near by cities’
        With his great vision and ambition, with lot of commitment and hardworking straight and very honest to his profession he directly attended one to one customers and
        giving very high quality electrical products.Our small shop had very good customer response after experiencing quality service from our shop. Now RR Electricals are the direct channel partners of all leading electrical brands in India.</p>
    <p>Slowly we started picking up our reputation with quick response of retail selling and we added very important companies in our electrical industry.
        For the last 10 years we are enjoying our esteemed customers and well-wishers support by God's grace. We are really thankful for the whole hearted 
        support from our beloved customers and dealers, we humbly try to give our best services.</p>
    <div class="availability-main">
        <div class="availability-section" >
            <i class="fa-regular fa-calendar-days"></i>
            <h2>24/7 Availability</h2>
            <p>We have a team of electricians and technicians on standby 24/7, 365 days a year.</p>
        </div>
        <div class="price-section">
            <i class="fa fa-tag"></i>
            <h2>Reasonable Prices</h2>
            <p>We have resonable prices for products as per the market standards.</p>
        </div>
        
    </div>
</div>

{%  endblock %}